# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TGSGame.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ibuki\Documents\repos\ScaleOrchestra\TGSGame\.idea\.idea.TGSGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
